# macOS system files
.DS_Store

# Visual Studio Code directories
.vscode/

# Compiled Object files and dependencies
*.o
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Executables
*.out
*.app

# Debug symbols and info
*.dSYM/

# Other temporary files
*~
*.swp
*.bak

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
